# Виртуальные окружения
venv/
.env/
.venv/

# Кэш и временные файлы Python
__pycache__/
*.py[cod]
*$py.class

# Логи
*.log

# Кэш pytest
.pytest_cache/

# Локальные настройки IDE
.idea/
.vscode/

# Системные файлы macOS/Windows
.DS_Store
Thumbs.db

# Файлы с конфиденциальными данными (если появятся)
*.env
*.secret

